
.container{
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    text-align: left;
    border-color: black;
    border-radius: 10px;
    background-color: teal;
}

.post-text{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(184, 115, 51);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 20px;
    word-wrap: break-word;
    text-align: justify;
    width: 900px;
}
.inactive {
    border: none; 
    outline: none;
    background-color: black;
    font-size: 10px;
    font-weight: bold;
    color: teal;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 10px 20px;
    border: 2px solid #333;
 }
 .like-button:hover {
    color: #fff;
    background-color: #333;
 }
 .active {
    color: black;
    background-color: rgb(184, 115, 51);
    border-color: black;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 10px 20px;
    border: 2px solid #333;
 }

 .liked{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
 }